Jupeter notebook IBM 1

In [1]:
# The code was removed by Watson Studio for sharing.

,household,age_husband,age_wife,income_husband,income_wife,bedrooms,electricity,gas,number_children,internet,mode,own,language,decade_built
0,48,64,62,11000,29200,1,90,3,0,Yes,followup,Owned with mortgage or loan,English only,1940
1,218,63,64,100000,3100,4,230,30,0,Yes,mail,Owned with mortgage or loan,English only,1990
2,279,56,51,31000,0,2,200,40,0,No,followup,Rented,English only,1950
3,612,71,68,51700,8800,3,170,3,0,Yes,internet,Owned free and clear,English only,1950
4,947,37,33,16600,26000,3,260,3,2,Yes,internet,Owned with mortgage or loan,English only,1990